<div class="row">
  <div class="col">
    <%= f.input :futsal_game_id, as: :hidden, input_html: { value: f.object.futsal_game.id } %>
    <%= f.association :user, label: false, input_html: { class: "form-control" } %>
  </div>
  <div class="col">
    <%= f.input :status, label: false, input_html: { class: "form-control" } %>
  </div>
  <div class="col-1">
    <%= link_to_remove_association icon('times').html_safe, f %>
  </div>
</div>
