<h1>Editing Futsal Game Invitation</h1>

<%= render 'form', futsal_game_invitation: @futsal_game_invitation %>

<%= link_to 'Show', @futsal_game_invitation %> |
<%= link_to 'Back', futsal_game_invitations_path %>
