<h1>Editing Futsal Tournament Player Registration</h1>

<%= render 'form', futsal_tournament_player_registration: @futsal_tournament_player_registration %>

<%= link_to 'Show', @futsal_tournament_player_registration %> |
<%= link_to 'Back', futsal_tournament_player_registrations_path %>
