<h1>New Futsal Game Player Position Change</h1>

<%= render 'form', futsal_game_player_position_change: @futsal_game_player_position_change %>

<%= link_to 'Back', futsal_game_player_position_changes_path %>
