<div>
  <div class="row">
    <%= render 'fifa_card/fifa_card', player: @user, stat: nil, highlights_and_goals_by_user: nil %> 
  </div> 
  <%= @user.andand.display_stats.andand.html_safe %>
</div>  
