<p id="notice"><%= notice %></p>

<%= render 'users/user_statistics', user: @user %>  

<% if can? :edit, User %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>