<div class="row">
  <div class="col">
    <%= f.association :user, label: false, input_html: { class: "form-control" } %>
  </div>
  <div class="col">
    <%= f.association :futsal_game, label: false, input_html: { class: "form-control" } %>
  </div>
  <div class="col">
    <%= f.association :team, label: false, input_html: { class: "form-control" } %>
  </div>
  <div class="col-1">
    <%= link_to_remove_association icon('times').html_safe, f %>
  </div>
</div>
