<h1>Editing Futsal Tournament Team Registration</h1>

<%= render 'form', futsal_tournament_team_registration: @futsal_tournament_team_registration %>

<%= link_to 'Show', @futsal_tournament_team_registration %> |
<%= link_to 'Back', futsal_tournament_team_registrations_path %>
