/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree 
 */



@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
  background: radial-gradient(white, #E6E6E6);
}


  /* Tooltip container */
.label-tooltip {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.label-tooltip .label-tooltiptext {
  visibility: hidden;
  width: auto;
  overflow-wrap: break-word;
  background-color: white;
  max-width: 400px;
  padding: 5px 2px 0 2px;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  &:before {

      top: -12px;
      right: auto;
      left:15px;

  }
}

/* Show the tooltip text when you mouse over the tooltip container */
.label-tooltip:hover .label-tooltiptext {
  visibility: visible;
}

.label-tooltip-bottom {
  top: 135%;
  left: 0%;
  margin-left: -60px;
  min-width: 200px;
}

.calendar_event_match{
  font-size: 70%;
  padding: 1px;
  border: 1px solid black;  
}

.simple-calendar {
  .calendar-heading{
    width: 100%;
    text-align: center;
  }
  .day { 
    width:14%;    
  }

  .day-container {
    min-height: 50px;
  }

  .day_of_date{ }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today { background-color: #CECECE;}
  .past {}
  .future {}

  .start-date {}

  .prev-month { filter:alpha(opacity=50); opacity:0.5; }
  .next-month { filter:alpha(opacity=50); opacity:0.5; }
  .current-month {}

  .has-events {}
}

.link-previous-next{
  text-align: center;
}

.link_to_highlight:hover{
  color: blue !important;
}

.win_match{
  background-color: #A9F5A9;
}

.lose_match{
  background-color: #F5A9A9;
}

.draw_match{
  
}