.red{
	color: red;
}

.green{
	color: green;
}

.yellow{
	#color: #F7FE2E;
	color: #E6CF01;
}

.orange{
	color: orange;
}

.yellow_green{
	color: #9acd32;
}

.match_header {
	background: url(en_tete_match.png);
	color: white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.match_resume {
	background: #D8D8D8;
	color: black;
}

.team_name {
	text-align: center;
    vertical-align: middle;
	font-size: 200%;
	font-weight: bold;
}

.score {
	font-size: 200%;
	text-align: center;
	background: white;
  vertical-align: middle;
	font-weight: bold;
	color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.match_link {
	text-align:center;
	padding: 10px;
}

.date, .duration, .futsal_field {
	color: white;
	padding: 5px;
}

.date {
	margin-left: 15px;
}

.duration {
	text-align: center;
}

.team {
	background: url(terrain-3.jpg);
	background-size: 100% 100%;
	background-color: #096A09;
	min-height: 200px;
	padding: 5px;
}
.team-fifa{
	min-height: 700px !important;
}
.player{
	margin: 10px;
	padding: 5px;
	font-weight: bold;
	border: 1px dotted black;
	background-color: white;
}

.goal_tab{
	font-size: 80%;
	.home_goal {
		text-align: right;
	}
	.time {
		text-align: center;
	}

	.outside_goal {

	}
}

.own_goal{
	a {
		color: red !important;
	}
}

.timeline{
	width: 100%;
	margin-bottom: 5px;
	.timeline_team{
		height: 24px;
		.goal{
			position: absolute;
		}
	}
	.time{
		background-color: black;
		border-radius: 10px;
		color: white;
		font-style: bold;
		height: 24px;
		.minute{
			position: absolute;
		}
	}

	.label-tooltip .label-tooltiptext {
	  width: 200px !important;
	  z-index: 10 !important;
	}

	.label-tooltip-left {
	  left:-192px !important;
	}

}

