.goal_header{
	.time {
		font-size: 200%;
		text-align: center;
		background: white;
	    vertical-align: middle;
		font-weight: bold;
	}
}

.rating {
   direction: rtl;
   text-align: center;
}

.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}

.rating{
   .selected {
      color: orange;
      cursor: pointer;
   }
}   

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}

