.index-users-user-container{  
  font-size: 75%;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 2px;
  color: black;
  float: left;
  min-width: 400px;
  background-color: #F7F8E0;
  
  .user-name{
    font-size: 140%;
  }
}

.user-index-search{
  .form-control{
    width: none;
  }
  width: 150px;
}

