<h1>Editing Futsal Game Player Position</h1>

<%= render 'form', futsal_game_player_position: @futsal_game_player_position %>

<%= link_to 'Show', @futsal_game_player_position %> |
<%= link_to 'Back', futsal_game_player_positions_path %>
