<h1>Editing User Futsal Game With User</h1>

<%= render 'form', user_futsal_game_with_user: @user_futsal_game_with_user %>

<%= link_to 'Show', @user_futsal_game_with_user %> |
<%= link_to 'Back', user_futsal_game_with_users_path %>
